
.submit-button {
    position: relative;
    display: inline-block;
    margin-right: -10px;
}

.submit-button a {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #c92918;
    display: block;
    position: relative;
    padding: 10px 10px;
    box-shadow: inset 0 1px 0 #f0f0f0, 0 10px 0 #7e1a01;
    border-radius: 5px;
    /* Standard property */
}

.submit-button a:hover {

    text-shadow: 0px 3px 0px #000;
}

.submit-button a:active {
    top: 10px;
    background-color: #c92918;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    /* Updated to standard property */
}

.submit-button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: 4px;
    z-index: -1;
    background-color: #2B1800;
    border-radius: 5px;
    /* Standard property */
}